.images{
    display: flex;
}

.images img{
    width: 80%;
    display: block;
}

.block{
    margin: 20px;
    border:  1px rgb(177, 177, 177) solid;
    position: relative;
}

.BotInfo{
    color: rgb(192, 192, 196);
    display: flex;
    border-top: 1px grey solid;
    margin: 0px 10px;
}

.block:hover .cubecont{
    opacity: 1;
}

.BotInfo p{
    width: 33%;
    text-align: center;
}

.cube{
    width: 60px;
    height: 60px;
    background: yellow;
    transform: rotate(45deg);
    margin:10px;
}



.cubecont{
    opacity: 0;
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    transition: all 500ms;
}

.Transform{
    transform: rotate(-45deg);
}

.Transform2{
    transform: rotate(-45deg);
    position: absolute;
    top: 5px;
    left: 4px;
}

.star{
    width: 100px;
    height: 300px;
    position:absolute;
    left: 150px;
   
}

.block:hover h1{
    color: palevioletred;
}

.cube:hover{
    background: lawngreen;
}

h1{

    font: 20px Condensed;
    text-align: center;
    margin: 0px 10px;
}

h2{
    text-align: center;
}

h3{
    text-align: left;
    font: 20px Condensed;
    background: rgb(234, 101, 100);
    color: white;
    margin: 10px 160px;
    position: absolute;
    left: -150px;
    border: 2px solid rgb(234, 101, 100);
    border-radius: 5px;
}

h4{
    text-align: left;
    font: 20px Condensed;
    background: rgb(81, 177, 253);
    color: white;
    margin: 10px 160px;
    position: absolute;
    right: -150px;
    border: 2px solid rgb(81, 177, 253);
    border-radius: 5px;
}
