.images{
    display: flex;
}

.images img{
    width: 80%;
    display: block;
}

.block{
    margin: 20px;
    border:  1px rgb(177, 177, 177) solid;
    position: relative;
}

.BotInfo{
    color: rgb(192, 192, 196);
    display: flex;
    border-top: 1px grey solid;
    margin: 0px 10px;
}

.block:hover .cubecont{
    opacity: .7;
}

.BotInfo p{
    width: 33%;
    text-align: center;
}

.cube{
    width: 60px;
    height: 60px;
    background: pink;
    transform: rotate(45deg);
    margin: 5px;
}

.cubecont{
    opacity: 0;
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    transition: all 500ms;
}

h2{
    text-align: center;
}

/* .star{
    width: 50;
    height: 150px;
  align-content: center;
} */