body{
    margin: 0;
}

header{
    background: #f0efee;
    padding: 0%;
    margin: 0%;
}

header h1{
    margin: 0;
    font-size: 70px;
    transform: scaleX(1.2);
}

header p{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0;
}

header div{
    font-family: 'Tangerine', cursive;
}

.OnliRed{
    color: rgb(255, 80, 124);
}

.headname{
    height: 150px;
    padding-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0%;
}